[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
faker = "*"

[packages]
flask-debugtoolbar = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-mail = "*"
flask-moment = "*"
flask-bootstrap = "*"
flask-ckeditor = "*"
flask-wtf = "*"

[requires]
python_version = "3.6"
