[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
flask-debugtoolbar = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
boorstrap-flask = "*"
flask-mail = "*"
flask-moment = "*"

[requires]
python_version = "3.6"
